<!DOCTYPE html>
<html>

<head th:replace="~{layoutBase :: head}">
</head>

<body>
    <div th:replace="~{layoutBase :: navbar}"></div>
    <div class="container">
        <h1 class="mb-3">Adicionar Grupo</h1>
        <form th:object="${group}" th:action="@{/groups/create}" method="post">
            <input type="text" id="name" name="name" required class="form-control" placeholder="Nome" style="width: 40%">

            <br/>

            <p><button type="submit" class="btn btn-primary">Salvar</button></p>
        </form>
        <p><a th:href="@{/templates/groups}">Voltar</a></p>
    </div>
</body>
</html>