<!DOCTYPE html>
<html>

<head th:replace="~{layoutBase :: head}">
</head>

<body>
    <div th:replace="~{layoutBase :: navbar}"></div>
    <div class="container">
        <h1 class="mb-3">Adicionar grupo</h1>
        <form th:object="${group}" th:action="@{/groups/create}" method="post">
            <label>Nome: <input type="text" th:field="*{name}" /></label><br/>
            <input type="submit" value="Salvar"/>
        </form>
    </div>
    <p><a th:href="@{/groups}">Voltar para a lista de grupos</a></p>
</body>
</html>