<!DOCTYPE html>
<html>

<head th:replace="~{layoutBase :: head}">
</head>

<body>
    <div th:replace="~{layoutBase :: navbar}"></div>
    <div class="container">
        <h1 class="mb-3">Adicionar cliente</h1>
        <form th:object="${client}" th:action="@{/clients/create}" method="post">
            <label>Nome: <input type="text" th:field="*{name}" /></label><br/>
            <label>Grupo:
                <select th:field="*{group}">
                    <option th:each="it : ${groups}" th:value="${it.id}" th:text="${it.name}">
                    </option>
                </select>
            </label><br/>
            <p><button type="submit" class="btn btn-dark">Salvar</button></p>
        </form>
    </div>
     <p><a th:href="@{/clients}">Voltar para a lista de clientes</a></p>
</body>
</html>