<!DOCTYPE html>
<html>

<head th:replace="~{layoutBase :: head}"></head>

<body>
    <div th:replace="~{layoutBase :: navbar}"></div>
    <div class="container">
        <h1 class="mb-3">Editar Cliente</h1>
        <form th:object="${client}" th:action="@{/clients/edit/{id}(id=${client.id})}" method="post">
            <input type="text" id="name" name="name" th:field="*{name}" required class="form-control" placeholder="Nome" style="width: 40%">

            <br/>

            <div class="form-group">
                <label for="exampleFormControlSelect2" style="width: 40%">Grupo:
                    <select th:field="*{group}" class="form-select" id="exampleFormControlSelect2">
                        <option value="">-- Selecione --</option>
                        <option th:each="it : ${groups}" th:value="${it.id}" th:text="${it.name}"></option>
                    </select>
                </label>
            </div>

            <br/>

            <p><button type="submit" class="btn btn-primary">Salvar</button></p>
        </form>
        <p><a th:href="@{/clients}">Voltar</a></p>
    </div>
</body>
</html>