<!DOCTYPE html>
<html>

<head th:replace="~{layoutBase :: head}"></head>

<body>
    <div th:replace="~{layoutBase :: navbar}"></div>
    <div class="container">
        <h1 class="mb-3">Editar Cliente</h1>
        <form th:object="${client}" th:action="@{/clients/edit/{id}(id=${client.id})}" method="post">
            <label>Nome: <input type="text" th:field="*{name}" /></label>
            <br/>
            <p><button type="submit" class="btn btn-dark">Salvar</button></p>
        </form>
    </div>
    <p><a th:href="@{/clients}">Voltar para a lista de cliente</a></p>
</body>
</html>