<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Usuário</title>
</head>
<body>
<h2>Editar Usuário</h2>
<form th:object="${usuario}" th:action="@{/editar/{id}(id=${usuario.id})}" method="post">
    <label>Nome: <input type="text" th:field="*{nome}" /></label><br/>
    <input type="submit" value="Salvar"/>
</form>
<p><a th:href="@{/}">Voltar para a lista de usuários</a></p>
</body>
</html>