<head th:replace="~{layoutBase :: head}">
</head>

<body>
<div th:replace="~{layoutBase :: navbar}"></div>
<div class="container mb-2">
    <h1 class="mb-3">Bem Vindo <span th:text="${user.name}" /></h1>
    <br/>
    Quantidade de clientes ativos: XXX <a href="">VER</a>
    <br/><br/>
    Projeção de valor total a receber no mês atual: R$ XXXX,XX <a href="">VER</a>
    <br/><br/>
    Projeção de valor total a receber no mês seguinte: R$ XXXX,XX <a href="">VER</a>
    <br/><br/>
    Quantidade de clientes com mensalidades vencidas: ------ <a href="">VER</a>
</div>
</body>
</html>
