<head th:replace="~{layoutBase :: head}">
</head>

<body>
<div th:replace="~{layoutBase :: navbar}"></div>
<div class="container mb-2">
    <h1 class="mb-3">Bem Vindo <span th:text="${user.name}" /></h1>
    <br/>
    Quantidade de clientes ativos: <span th:text="${home.quantityClients}" /> <a th:href="@{/clients}">VER</a>
    <br/><br/>
    Projeção de valor total a receber no mês atual: R$ <span th:text="${home.sumAmountToReceiveActualMonth} ?: 'R$ 0,00'" /> <a th:href="@{/payments/list/receive/actual/month}">VER</a>
    <br/><br/>
    Projeção de valor total a receber no mês seguinte: R$ <span th:text="${home.sumAmountToReceiveNextMonth} ?: 'R$ 0,00'" /> <a th:href="@{/payments/list/receive/next/month}">VER</a>
    <br/><br/>
    Quantidade de clientes com mensalidades vencidas: <span th:text="${home.quantityClientsWithDebts}" /> <a th:href="@{/payments/list/clients/debt}">VER</a>
</div>
</body>
</html>
