<head th:replace="~{layoutBase :: head}">
</head>

<body>
<div th:replace="~{layoutLogin :: navbar}"></div>
<div class="container mb-2">
    <div class="home" style="text-align: center;">
        <span th:if="${successRegister}" style="color: floralwhite">
            <h1 class="mb-3">Cadastro realizado com sucesso!</h1>
        </span>

        <br/>

        <h1 class="mb-3">Entrar</h1>
        <form th:action="@{/login}" method="post">
            <div>
                <label for="username">Login:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div>
                <label for="password">Senha:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <br/>
            <button type="submit">Login</button>
        </form>
        <br/>
        <a th:href="@{/register}">Novo Cadastro</i></a>
    </div>
</div>
</body>
</html>
