<head th:replace="~{layoutBase :: head}">
</head>

<body>
<div th:replace="~{layoutLogin :: navbar}"></div>
<div class="container mb-2">
    <div class="home" style="text-align: center;">
        <h1 class="mb-3">Login</h1>
        <form th:action="@{/login}" method="post">
            <div>
                <label for="username">Usuário:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div>
                <label for="password">Senha:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Login</button>
        </form>
        <br/>
        <a th:href="@{/register}">Novo Cadastro</i></a>
    </div>
</div>
</body>
</html>
